@using GestaoPedido.Aplicacao.Dto
 

@model EtapaProducaoProdutoIncluirDto

@{
    ViewData["Title"] = "Incluir Etapa de Produção Produto";
    Guid idPedido = ViewBag.IdPedido;
    Guid idEtapaProducao = ViewBag.IdEtapaProducao;
    string codigoPedido = ViewBag.CodigoPedido;
 
}

<div class="container mt-5">
    <div class="shadow-sm p-4 bg-white rounded">
        <form asp-controller="EtapaProducaoProduto"
              asp-action="Incluir"
              method="post"
              class="needs-validation"
              novalidate>

            @if (TempData["MensagemErro"] != null)
            {
                <div class="alert alert-danger alert-dismissible fade show mb-3" role="alert">
                    @TempData["MensagemErro"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
                </div>
            }

            <div class="text-center mb-4">
                <h1 class="display-6 text-primary">
                    <i class="bi bi-boxes"></i> Incluir Produto na Etapa de Produção
                </h1>
            </div>

            <div class="row g-3 mb-4">

                <!-- Campo oculto: IdEtapaProducao -->
                <input type="hidden" asp-for="IdPedido" />
                <input type="hidden" asp-for="IdEtapaProducao" />
                <input type="hidden" asp-for="CodigoPedido" />

                <div class="col-md-12">
                    <label for="IdProduto" class="form-label">Produto:</label>
                    <select asp-for="IdProduto" class="form-select" asp-items="ViewBag.Produtos" required>
                        <option value="">Selecione o produto</option>
                    </select>
                    @Html.ValidationMessageFor(a => a.IdProduto, null, new { @class = "text-danger" })
                </div>


                <div class="col-md-6">
                    <label for="QuantidadeProduzida" class="form-label">Quantidade Produzida:</label>
                    <input type="number" asp-for="QuantidadeProduzida" class="form-control" min="1" placeholder="Digite a quantidade" required />
                    @Html.ValidationMessageFor(a => a.QuantidadeProduzida, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="d-flex justify-content-between gap-2">
                <a class="btn btn-outline-secondary"
                   asp-controller="EtapaProducaoProduto"
                   asp-action="Index"
                   asp-route-idPedido="@idPedido"
                   asp-route-idEtapaProducao="@idEtapaProducao"
                   asp-route-codigoPedido="@codigoPedido"
                   role="button">Cancelar</a>

                <button type="submit" class="btn btn-outline-primary">Gravar</button>
            </div>
        </form>
    </div>
</div>
